.slide-show
  position relative;
  top: 25px;
  width: 100%;
  color: rgba(7, 17, 27, 0.2)
  .slide-img
    color: red

.foot
  position absolute;
  bottom 10px;
  background-color: rgba(7, 17, 27, 0.5)
  width 100%
  h2
    display inline
    color: red
  .slide-pages
    float right;
    display inline-block;
    ul
      list-style-type: none
    li
      display inline;
      margin-left 5px;
      color: #7e8c8d
      a
        &.on
          color red

