.sales-board
  .sales-board-intro
    font-size 20px;
  .sales-board-form
    font-size 20px;
    .sales-board-line
      display flex;
      .sales-board-line-left
        min-height: 40px;
        height: 38px;
        line-height :40px;
        width 100px;
      .sales-board-line-right
        flex: 1
        button
          background-color rgba(#9effb6, 0.2);
  .sales-board-table
    margin-top 2px;
