.mysales-board
  .mysales-board
    font-size 20px;
  .mysales-board
    font-size 20px;
    .mysales-board
      display flex;
      .mysales-board
        min-height: 40px;
        height: 38px;
        line-height :40px;
        width 100px;
      .mysales-board
        flex: 1
        button
          background-color rgba(#9effb6, 0.2);
  .mysales-board
    margin-top 2px;
