.loginform
  .username
    label
      display: inline-block;
      padding-right: 1rem;
      width: 60px;
      text-align: right;
    input
      border 1px solid rebeccapurple;
  .password
    label
      display: inline-block;
      padding-right: 1rem;
      width: 60px;
      text-align: right;
    input
      border 1px solid rebeccapurple;

.login
  button
    margin-top 10px;
    margin-left 75px;
    background mediumseagreen;
