.app-header
  background-color #7e8c8d;
  .app-head-inner
    img
      width 40px;
      height 40px;
    .head-nav
      float right;
      margin-top: 14px;
      .nav-list
      ul
        li
          display inline-block;

.app-footer
  width 100%;
  position: fixed;
  text-align: center;
  height: 60px;
  color: rgba(7, 17, 27, 0.5);
  background-color #7e8c8d;
  vertical-align: top;
  bottom: 0;
  p
    position relative;
    top 50%;
.app-content
  margin 0 120px;
