.index
  display: flex;
  height 100%
  .index-left
    width 150px;
    font-size: 20px;
    line-height 25px;
    background-color: white
    .new
      min-height 200px;
      margin-top 4px;
      border-top 4px solid rgba(7, 17, 27, 0.2);
      margin-bottom 4px;
    h1
      background-color forestgreen;
    li
      padding-left 10px;
      .hot-tag
        background-color: red;
        color: white;
        font-size:10px;
  .index-right
    flex: 1
    background-color: #8B7D7B;
